body{
	font-family: '-apple-system','HelveticaNeue';
}
#home-browser {
	display:none;
	/* margin:0 auto; */
	height:calc(100vh - 50px);
	width:100%;
	border: none;
}
.container {
	width:calc(100vw - 16px);
	height:calc(100vh - 16px);
	background-image:url("app/light.png");
	background-size:50% auto;
	background-position: center;
	background-repeat:no-repeat;
}
.status-bar {
	height: 30px;
}
div.tako > img, div.time > img {
	height: 4vh;
	max-height: 30px;
}

.time {
	color: white;
	position:fixed;
	left:0;
	margin-left:5px;
}
.tako {
	position:fixed;
	right:35px;
}
.battery {
	position:fixed;
	right:10px;
	color: white;
	margin-right:5px;
	top:calc(2vh);
}
.battery-body {
	margin-bottom:10px;
	width:20px;
	height: 2vh;
	max-height:10px;
	background-color: #84CF37;
	border:3px groove white;
}
.battery-body::after {
	content:"";
	position:absolute;
	width:5px;
	height:5px;
	background-color: white;
	top:6px;
	right:-5px;
}
ol {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5vw;
  margin: 40px auto;
  max-width: 95vw;
	padding: 0;
}
li {
	display: flex;
	width: 23vw;
	height: calc(23vw * 149 / 133);
	max-width: 133px;
	max-height: 149px;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
}
li > a, a > img, li > img {
	width: 100%;
	height: 100%;
}
ol.day-grid li {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  height: 12vw;
  max-height: 125px;
}
.bottom-nav {
	background: #ffffff75;
	border-radius: 30px;
	margin-top: calc(100vh - 100px - 100vw);
	/* position:fixed; */
	/* bottom:5px;
	height: 24vw;
	max-height: 150px; */
}
.arrow_up{                  
	position: absolute;
	left: 50%;
	bottom: 100px;
	color: white;
}
.arrow_up span{              
	position: absolute;
	width: 20px;
	height: 20px;
	top: 10px;
	transform: rotate(45deg);
	-webkit-transform:rotate(45deg);
	border-top: 1px solid white;
	border-left: 1px solid white;
	margin-left: -10px;
	opacity: 0;
	-webkit-animation: up 2s infinite;
	animation: up 2s infinite;
}
.arrow_up span:nth-of-type(2){
	top: 20px;
}
.arrow_up span:nth-of-type(1){
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}
@-webkit-keyframes up{   
	0%{
		opacity: 0;
		-webkit-transform: translate(0, 0) -webkit-rotate(45deg);
	}
	50%{
		opacity: 1;
		-webkit-transform: translate(0, -20px) -webkit-rotate(45deg);
	}
	100%{
		opacity: 0;
	}
}
@keyframes up{
	0%{
		opacity: 0;
		transform: translate(0, 0) rotate(45deg);
	}
	50%{
		opacity: 1;
		transform: translate(0, -20px) rotate(45deg);
	}
	100%{
		opacity: 0;
	}
}

@media screen and (min-width: 600px) {
	.bottom-nav {
		margin-top:0;
	}
	.battery {
		top: 15px;
	}
}